@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;1,200&display=swap');

:root {
    --general-font-family: "Bitter", serif;
    --text-color: rgb(0, 0, 0,);
    --general-back-color: rgba(130, 145, 169, 0.188);
    --header-back-color: rgba(140, 167, 224, 0.454);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--general-font-family);
    color: var(--text-color);
    background-color: var(--general-back-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

