@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;1,200&display=swap');

:root {
    --general-font-family: "Bitter", serif;
    --text-color: rgb(0, 0, 0);
    --header-text-color: #fff;
    --general-back-color: rgb(225, 228, 234);
    --header-back-color: rgb(0, 0, 0);
    --border-header-color: #fff;
    --btn-color:rgb(125, 121, 121);
    --btn-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--general-font-family);
    color: var(--text-color);
    background-color: var(--general-back-color);
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

