@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --general-font-family: 'Ubuntu Mono', monospace;
    --text-color: black;
    --header-text-color: #fff;
    --general-back-color: rgba(230, 229, 217, 0.439);
    --header-back-color: rgb(0, 0, 0);
    --border-header-color: rgb(227, 230, 232);
    --btn-color:rgb(166, 179, 153);
    --btn-text-color: white;
    --footer-back-color: white;
    --btn-more-color: rgb(166, 179, 153);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--general-font-family);
    color: var(--text-color);
    background-color: var(--general-back-color);
    
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

