
.header__container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px 10px 30px;
    background-color: var(--header-back-color);
    border: 0.2rem solid white;
    background-size: cover;
}

.img__logo {
    width: 50px;
}

.lang__menu {

    margin: auto 5px auto 15px;
    padding: 0;
}

.lang__menu > span {
    color: white;
    text-decoration:solid;
}

.lang__href {
    background-color: var(--header-back-color);
}


.header__nav {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
}

.header__nav a {
    font-family: var(--general-font-family);
    color: var(--header-text-color);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 5px;
    margin: auto;
}



