
.header__container {
    position: fixed;
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: var(--header-back-color);
    border: 10px;
    border-bottom-color: var(--border-header-color);
}

.img__logo {
    width: 70px;
}

.header__nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}

.header__nav a {
    font-family: var(--general-font-family);
    color: var(--header-text-color);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    float: left;
    padding-left: 5px;
    text-align: center;
    margin: auto;
}

.lang__menu {
    color: var(--header-text-color);
    font-weight: bolder;
    margin: auto;
    padding: 0;
}

